

/*mixture*/
.mdl-menu a {
	text-decoration: none;
}

.mdl-data-table {
	width: 100%;
}

.mdl-data-table td,
.mdl-data-table th {
	text-align: left;
}

/*forms*/
input[type=text],
input[type=email] {
	width: 100%;
	padding: 3px;
	border: none;
	border-bottom: solid 2px #aaa;
}

form input,
form label {
	clear: both;
	margin: 3px;
}